.carousel .carousel-item {
    height: 600px;
  }
  
  .carousel-item img {
      position: absolute;
      object-fit:cover;
      top: 0;
      left: 0;
      min-height: 600px;
  }
  
  .blockquote-footer {
margin-top: 20px;

  }

  .zitat {
    margin-top: 50px;
    margin-bottom: 50px;
  }


  .link-cards {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
  }


  .card {
    margin-left: 50px;
  }

  .nav-link {
    color: white;
  }

  .kurse {
    display: flex;
    flex-direction: row;
  }

  .kurse .beschreibung {
    margin-top: 10%;
    margin-left: 20px;
  }
